@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --primary: #052525;
  --secondary: #0a3c3c;
  --accent: #2fa39a;
  --light: #e6f7f5;
  --dark: #011111;
  --gradient-1: linear-gradient(135deg, #052525 0%, #0a3c3c 50%, #2fa39a 100%);
  --gradient-2: linear-gradient(90deg, #011111 0%, #052525 40%, #2fa39a 100%);
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #052525;
}

.logo img {
  width: 250px;
  padding: 0px 5px;
}

.nav_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  gap: 25px;
}

.nav_links li {
  list-style: none;
  position: relative;
}

.nav_links li a {
  text-decoration: none;
  color: white;
}

i {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 200;
}

.icons i {
  color: white;
  font-size: larger;
  padding-right: 50px;
}

.hamburger {
  display: none;
}

.lines {
  width: 25px;
  background-color: white;
  height: 3px;
  margin: 5px;
}

header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  bottom: -8px;
}

header nav ul li a:hover::after {
  width: 100%;
  background-color: white;
}

.page {
  position: relative;
}

.drop_menu {
  display: none;
}

.drop_menu1 {
  display: block;
  position: absolute;
  left: 0;
  bottom: -65px;
  padding: 10px 6px;
  background-color: teal;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .nav_links {
    font-size: large;
  }
}

@media screen and (max-width: 1150px) {
  .nav_links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .icons i {
    padding-right: 5px;
  }
}

/* ---------------------------------------------------------------------------- */

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--dark);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 20px;
  margin-top: 10vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 15px;
  position: relative;
}

.sidebar ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent);
  font-weight: 600;
  text-decoration: none;
}
.sidebar ul li div span {
  color: var(--accent);
  text-decoration: none;
}

.flexdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar ul li a:hover {
  color: #f1f1f1;
}

.sidebar ul li .submenu {
  list-style: none;
  padding-left: 15px;
  /* max-height: 0; */
  overflow: hidden;
  display: none;
}
.sidebar ul li .submenu2 {
  padding-left: 15px;
  display: none;
}
.submenu1 {
  padding-left: 15px;
  display: block;
}

/* Close button */
.sidebar .close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  color: var(--accent);
}

/*-///////////----------------------------------------------///////*/
.mobileMenu {
  display: flex;
  justify-content: end;
}
.menu-nav a {
  text-decoration: none;
  color: #e6f7f5;
  font-size: x-large;
}
.menu-nav {
  margin-top: 80px;
  width: 50%;
  padding: 30px;
  border-radius: 30px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  background-color: #107575;
}
/* Mobile Click / Active State (optional JS toggle) */
.mobile-dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown menu hidden by default */
/* Dropdown Menu */
.dropdown-menu {
  /* height: 250px; */
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--secondary);
  min-width: 200px;
  padding: 8px;
  border-radius: 5px;
  /* display: flex; */
  gap: 10px;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.dropdown-menu li a {
  padding: 8px 8px;
  /* display: block; */
  color: #fff;
  /* position: relative; */
}
.dropdown-menu > li {
  /* position: absolute; */
  padding: 12px 6px;
}
/* .dropdown-menu li a:hover{
    background-color: red;
} */

.dropdown-menu li a:hover {
  background: var(--primary);
}

/* Desktop Hover */
/* Desktop Hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Mobile Menu */
#menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/*-----------------------------------------------*/
/*-------------------------------------------------*/
/* Dropdown Container */
.mobile-dropdown {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  position: relative;
}

.dropdown-toggle:hover {
  color: #fff;
}

/* Caret rotation animation */
.dropdown-toggle i {
  transition: transform 0.3s ease;
}

/*------------------------------------------------------------------*/

aside > .menu-nav {
  display: none;
}

.aside1 > .menu-nav {
  display: flex;
  flex-direction: column;
}

.menu-nav {
  margin-top: 80px;
  width: 50%;
  padding: 30px;
  border-radius: 30px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  background-color: #107575;
}

.mobileMenu {
  display: flex;
  justify-content: end;
}

.menu-nav a {
  text-decoration: none;
  color: #e6f7f5;
  font-size: x-large;
}

.user-para {
  font-size: large;
  padding: 5px;
  color: #e6f7f5;
  margin: auto;
}

#img {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-2);
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}

#img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  background: radial-gradientcircle(
    rgba(47, 163, 154, 0.15) 0%,
    transparent 70%
  );
  transform: translate(-50%, -50%);
  z-index: 0;
}

.contact-section {
  background: var(--gradient-1);
  color: var(--light);
  padding: 80px 0;
  text-align: center;
  text-transform: capitalize;
}

.contact-section h2 {
  font-size: 2.5rem;
  color: var(--accent);
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.contact-card {
  background: var(--light);
  color: var(--dark);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 320px;
  transition: all 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  background: var(--gradient-2);
  color: var(--light);
}

.contact-form {
  max-width: 600px;
  margin: 50px auto;
  background: var(--secondary);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background: var(--light);
  color: var(--dark);
}

.contact-form button {
  background: var(--accent);
  color: var(--light);
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.contact-form button:hover {
  background: var(--secondary);
}
/******************************************************************************/

/* ------MEDIA QUERY-------*/

/* Enlarge System */

@media screen and (max-width: 2561px) {
  p {
    font-size: 26px;
  }
  h3 {
    font-size: 28px;
  }
  .contact-card {
    width: 800px;
    font-size: 26px;
    text-align: center;
    padding: 40px 40px;
  }
  .contact-form button {
    padding: 16px 30px;
  }
}

/* Laptop  L */

@media screen and (max-width: 1441px) {
  #menu {
    display: none;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
  .nav-links > li > a {
    font-size: 14px;
  }
  .contact-card {
    width: 600px;
    font-size: 20px;
    text-align: center;
    padding: 40px 0px;
  }
}

/* Laptop nrml */
@media screen and (max-width: 1025px) {
  #menu {
    display: block;
    margin-left: auto;
  }
  .mobile-dropdown .dropdown-menu li a {
    font-size: 12px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }
  .nav-links {
    display: none;
  }
  .contact-section h2 {
    font-size: 32px;
  }
  .anchor {
    display: none;
  }
  .contact-card {
    width: 450px;
    padding: 30px 0px;
  }
}

@media screen and (max-width: 1025px) {
  h3 {
    font-size: 20px;
  }
  .nav-links > li > a {
    font-size: 10px;
  }
  p {
    font-size: 18px;
  }
}

/* Tablet */

@media screen and (max-width: 769px) {
  .nav-links {
    display: none;
  }
  .anchor {
    display: none;
  }
  .contact-section h2 {
    font-size: 30px;
  }
  #menu {
    display: block;
  }
}

@media screen and (max-width: 790px) {
  .menu-nav {
    width: 65%;
    font-size: 14px;
  }
  .menu-nav > a > .nav-links,
  .user-para {
    font-size: 14px;
  }
}

/* Mobile L*/

@media screen and (max-width: 426px) {
  .footer-header {
    margin-top: 10px;
  }
  .mobile-dropdown .dropdown-menu li a {
    font-size: 12px;
  }
  .contact-section h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .contact-card {
    margin: 30px;
  }
  .contact-form {
    width: 350px;
    margin: auto;
  }
}

/* Mobile M */

@media screen and (max-width: 376px) {
  .contact-section h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .contact-form {
    width: 320px;
    margin: auto;
  }
}

/* Mobile S*/

@media screen and (max-width: 321px) {
  .contact-section h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .contact-form {
    width: 280px;
    margin: auto;
  }

  .cta-button {
    padding: 10px;
    font-size: 18px;
  }
}

footer {
  height: 100%;
  text-align: center;
  color: var(--light);
  opacity: 0.8;
}

.footer-parent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: rgba(5, 37, 37, 0.85);
  object-fit: cover;
  margin-top: 20px;
}

.set1 {
  padding: 10px;
}

.logo1 {
    width: 250px;
  height: 80px;
  object-fit: cover;
}

.set2 {
  padding: 20px;
  text-align: center;
}

.footer-header {
  color: var(--accent);
}

.footer-li {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-li a {
  margin-top: 5px;
  text-decoration: none;
  color: #f2f9f8;
  padding: 5px;
}

.footer-li a:hover {
  color: #2fa39a;
}

.set3 {
  padding: 20px;
  text-align: center;
}

.footer-para {
  color: #f2f9f8;
}

.set4 {
  padding: 20px;
  text-align: center;
}

.set4 .footer-para {
  color: #f2f9f8;
  line-height: 2;
}

.svg {
  margin-top: 5px;
  padding: 2px;
  width: 40px;
  height: 40px;
  fill: #f2f9f8;
}

.svg:hover {
  fill: var(--accent);
}

@media screen and (max-width: 1441px) {
  .footer-header {
    font-size: 26px;
  }
  .footer-li {
    font-size: 22px;
  }
  .footer-para {
    font-size: 22px;
  }
}

@media screen and (max-width: 1125px) {
  .footer-parent {
    display: grid;
    grid-template-columns: auto auto;
  }

  .footer-header {
    font-size: 24px;
  }
  .footer-li {
    font-size: 20px;
  }
  .footer-para {
    font-size: 20px;
  }
}

@media screen and (max-width: 850px) {
  .footer-header {
    margin-top: 10px;
  }

  .footer-parent {
    grid-template-columns: auto;
    padding: 30px;
  }

  .footer-li {
    font-size: 16px;
  }
  .footer-para {
    font-size: 18px;
  }
}

@media screen and (max-width: 428px) {
  .footer-header {
    margin-top: 10px;
  }

  .footer-li {
    font-size: 16px;
  }
}

@media screen and (max-width: 376px) {
  .footer-header {
    margin-top: 10px;
  }

  .footer-parent {
    grid-template-columns: auto;
    padding: 0px;
  }

  .footer-li {
    font-size: 14px;
  }

  .set1 {
    padding: 0px;
  }
  .footer-para {
    font-size: 14px;
    padding: 5px;
  }
  .logo {
    width: 200px;
  }

  .logo1 {
    width: 250px;
  }
  .footer-parent {
    padding: 0px;
  }

  .footer-header {
    margin: 0px;
    font-size: 20px;
  }

  .set1,
  .set2,
  .set3,
  .set4 {
    padding: 10px;
  }
  .footer-li {
    font-size: 14px;
  }

  .set1 {
    padding: 0px;
  }
  .footer-para {
    font-size: 14px;
    padding: 5px;
  }
  .cta-button {
    padding: 10px;
    font-size: 18px;
  }
}
