@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #052525;
    --secondary: #0a3c3c;
    --accent: #2fa39a;
    --light: #e6f7f5;
    --dark: #011111;
    --gradient-1: linear-gradient(135deg, #052525 0%, #0a3c3c 50%, #2fa39a 100%);
    --gradient-2: linear-gradient(90deg, #011111 0%, #052525 40%, #2fa39a 100%)
}

body {
    width: 100vw;
    font-family: "Poppins", sans-serif;
    color: var(--dark);
    background: var(--light);
    overflow-x: hidden;
}

/* Header */
.Header {
    background: rgba(5, 37, 37, 0.85);
    position: fixed;
    width: 100%;
    height: 12vh;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    color: #e6f7f5;
    /* overflow: hidden; */
}

.logo {
    width: 300px;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #e6f7f5;
    font-weight: 500;
    /* font-size: 1rem; */
    transition: all 0.3s ease;
    position: relative;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: 1px solid transparent;
}

.nav-links a:hover {
    color: var(--accent);
    background: rgba(47, 163, 154, 0.1);
    border-color: rgba(47, 163, 154, 0.2);
    transition: 0.3s ease;
}

.nav-links a.active {
    color: #f2f9f8;
    background: var(--gradient-1);
    border-color: #138a8a;
}

#menu {
    background-color: (5, 37, 37, 0.85);
    display: none;
    font-size: 32px;
    fill: #e6f7f5;
    padding-right: 40px;
}

#user {
    width: 120px;
    font-size: x-large;
    display: flex;
    color: #e6f7f5;
}

.anchor {
    text-decoration: none;
}

.Header ul li {
    padding: 10px 20px;
    position: relative;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: inline-block;
}
/*-///////////----------------------------------------------///////*/
.mobileMenu {
    display: flex;
    justify-content: end;
}
.menu-nav a {
    text-decoration: none;
    color: #e6f7f5;
    font-size: x-large;
}
.menu-nav {
    margin-top: 80px;
    width: 50%;
    padding: 30px;
    border-radius: 30px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: #107575;
}
/* Mobile Click / Active State (optional JS toggle) */
.mobile-dropdown:hover .dropdown-menu {
    display: block;
}

/* Dropdown menu hidden by default */
/* Dropdown Menu */
.dropdown-menu {
    /* height: 250px; */
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary);
    min-width: 200px;
    border-radius: 5px;
    text-align: center;
    /* display: flex; */
    gap: 10px;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
}


.dropdown-menu li a {
    padding: 8px 12px;
    /* display: block; */
    color: #fff;
       /* position: relative; */


}
.dropdown-menu>li{
 /* position: absolute; */
 padding: 12px 8px;

    
}
/* .dropdown-menu li a:hover{
    background-color: red;
} */

.dropdown-menu li a:hover {
    background: var(--primary);
}

/* Desktop Hover */
/* Desktop Hover */
.dropdown:hover .dropdown-menu {
    display: block;
}



/* Mobile Menu */
#menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/*-----------------------------------------------*/
/*-------------------------------------------------*/
/* Dropdown Container */
.mobile-dropdown {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    position: relative;
}

.dropdown-toggle:hover {
    color: #fff;
}

/* Caret rotation animation */
.dropdown-toggle i {
    transition: transform 0.3s ease;
}

/*------------------------------------------------------------------*/

.cta-button {
    display: inline-block;
    padding: 20px 15px;
    background: #2fa39a;
    color: #f2f9f8;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
    animation: fadeInUp 1s ease 0.4s;
    animation-fill-mode: both;
    box-shadow: 0 10px 30px rgba(47, 163, 154, 0.3);
    /* subtle teal glow */
}


aside>.menu-nav {
    display: none;
}

.aside1>.menu-nav {
    display: flex;
    flex-direction: column;
}

.menu-nav {
    margin-top: 80px;
    width: 50%;
    padding: 30px;
    border-radius: 30px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: #107575;

}

.mobileMenu {
    display: flex;
    justify-content: end;
}

.menu-nav a {
    text-decoration: none;
    color: #e6f7f5;
    font-size: x-large;
}

.user-para {
    font-size: large;
    padding: 5px;
    color: #e6f7f5;
    margin: auto;
}
/*-------------------------------------------------*/


/* Toggle/
/* Dropdown links */
/* .dropdown-menu a {
  color: #dff;
  text-decoration: none;
  font-size: large;
  padding: 8px 0;
} */

#img {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-2);
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

#img::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    background: radial-gradientcircle(rgba(47, 163, 154, 0.15) 0%, transparent 70%);
    transform: translate(-50%, -50%);
    z-index: 0;
}


/* Services */

.service-page {
    width: 100%;
    /* margin: 20px; */
}

.section-title {
    font-size: 56px;
    color: #107575;
    padding: 20px;
    text-align: center;
    margin-top: 85px;
}

.nest {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas: "branches bird";
}

.branches {
    grid-area: branches;
}

.branches>img {
    width: 100%;
    height: 800px;
    display: flex;
    object-fit: cover;
    padding: 20px 20px;
}

.bird {
    grid-area: bird;
}

.bird>p {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: justify;
    padding: 20px;
}

.bird>h3 {
    text-align: center;
    color: #107575;
    font-size: 38px;
    padding: 30px 0px;
}

/******************************************************************************/
footer {
    height: 100%;
    text-align: center;
    color: var(--light);
    opacity: 0.8;
}

.footer-parent {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background: rgba(5, 37, 37, 0.85);
    object-fit: cover;
    margin-top: 20px;
}

.set1 {
    padding: 20px;
    text-align: center;
}

.logo1 {
    height: 60px;
    width: 300px;
    object-fit: cover;
}

.set2 {
    padding: 20px;
    text-align: center;
}

.footer-header {
    color: var(--accent);

}

.footer-li {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-li a {
    margin-top: 5px;
    text-decoration: none;
    color: #f2f9f8;
    padding: 5px;
}

.footer-li a:hover {
    color: #2fa39a;
}

.set3 {
    padding: 20px;
    text-align: center;
}

.footer-para {
    color: #f2f9f8;
}

.set4 {
    padding: 20px;
    text-align: center;
}

.set4 .footer-para {
    color: #f2f9f8;
    line-height: 2;
}

.svg {
    margin-top: 5px;
    padding: 2px;
    width: 40px;
    height: 40px;
    fill: #f2f9f8;
}

.svg:hover {
    fill: var(--accent);
}

/* ------MEDIA QUERY-------*/

/* Laptop  L */

@media screen and (max-width:1441px) {
    #menu {
        display: none;
    }

    .section-title {
        text-align: center;
        font-size: 3.5rem;
        /* margin-top: 120px; */
        padding: 20px;
        width: 100%;
        color: #107575;
    }

    .logo {
        width: 280px;
    }

    .nav-links>li>a {
        font-size: 14px;
    }

    .nest {
        display: grid;
        grid-template-columns: auto auto;
    }

    .set1 {
        margin-top: 12px;
    }

    .footer-header {
        font-size: 26px;
    }

    .footer-li {
        font-size: 22px;
    }

    .footer-para {
        font-size: 22px;
    }
}

/* Laptop nrml */
@media screen and (max-width:1025px) {

    #menu {
        display: block;
        margin-left: auto;
    }
            .mobile-dropdown .dropdown-menu li a {
    font-size: 12px;
}

    .nav-links {
        display: none;
    }

    .branches>img {
        width: 100%;
        display: flex;
        object-fit: cover;
        padding: 20px 20px;
    }

    img {
        object-fit: cover;
    }

    .bird h3 {
        font-size: xx-large;
    }

    .bird p {
        font-size: larger;
    }

    .anchor {
        display: none;
    }

    .footer-para {
        font-size: 20px;
    }

    .footer-li {
        font-size: 20px;
    }

    .logo1 {
        width: 300px;
    }

    .section-title {
        font-size: 48px;
    }
}


/* Tablet */

@media screen and (max-width:769px) {
    .nav-links {
        display: none;
    }

    .anchor {
        display: none;
    }

    #menu {
        display: block;
    }

    .nest {
        display: flex;
        flex-direction: column;
    }

    .footer-header {
        margin-top: 10px;
    }

    .bird h3 {
        font-size: xx-large;
    }

    .bird p {
        font-size: larger;
    }

    .footer-parent {
        grid-template-columns: auto auto;
        padding: 30px;
    }

    .footer-li {
        font-size: 16px;
    }

    .bird h3 {
        font-size: x-large;
    }

    .bird p {
        font-size: larger;
    }

    .footer-para {
        font-size: 18px;
    }

    .logo {
        width: 280px;
    }

    .section-title {
        font-size: 40px;
    }
}

@media screen and (max-width:790px) {
    .menu-nav {
        width: 65%;
        font-size: 14px;
    }

    .menu-nav>a>.nav-links,
    .user-para {
        font-size: 14px;
    }
}

/* Mobile L*/

@media screen and (max-width:426px) {

    .footer-header {
        margin-top: 10px;
    }
    .mobile-dropdown .dropdown-menu li a {
    font-size: 12px;
}

    .footer-parent {
        grid-template-columns: auto;
        padding: 10px;
    }

    .footer-li {
        font-size: 16px;
    }

    .bird h3 {
        font-size: larger;
        padding: 15px;
    }

    .bird p {
        font-size: large;
    }
}

/* Mobile M */

@media screen and (max-width:376px) {

    .footer-header {
        margin-top: 10px;
    }

    .footer-parent {
        grid-template-columns: auto;
        padding: 0px;
    }

    .footer-li {
        font-size: 14px;
    }

    .set1 {
        padding: 0px;
    }

    .footer-para {
        font-size: 14px;
        padding: 5px;
    }

    .section-title {
        font-size: 32px;
    }

    .bird h3 {
        font-size: large;
        padding: 15px;
    }

    .bird p {
        font-size: medium;
    }
}

/* Mobile S*/

@media screen and (max-width:321px) {

    .logo {
        width: 200px;
    }

    .footer-parent {
        padding: 0px;
    }

    .footer-header {
        margin: 0px;
        font-size: 20px;
    }

    .set1,
    .set2,
    .set3,
    .set4 {
        padding: 10px;
    }

    .footer-li {
        font-size: 14px;
    }

    .set1 {
        padding: 0px;
    }

    .footer-para {
        font-size: 14px;
        padding: 5px;
    }

    .cta-button {
        padding: 10px;
        font-size: 18px;
    }
}